body {
    box-sizing: border-box;
    margin: 0px;
    background-image: url('foto/Waterfall2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

  .top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background: transparent;  
    
  }
  
  a {
    text-decoration: none;
    font-family:"impact";
    font-weight: 220px;
    letter-spacing: 2px;
    color: rgba(88, 0, 252, 0.712);
  }
  
  li,a {
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
  }
  
  a:after {
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    content: "";
    transition: width 0.3s;
  }
  
  a:hover:after,
  a:focus:after {
    width: 100%
  }
  
  .links {
    list-style: none;
  }
  
  .links li {
    display: inline-block;
    padding: 0 40px;
  }
  
  .about {
    text-align: center; 
    color: white;
  }

  .instfoto {
    width: 16px;
    height: 16px;
  }